@font-face {
    font-family: Montserrat-Regular;
    src: url(font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(font/Roboto/Roboto-Light.ttf);
}

html, body{
    height:100%;
    margin: 0px auto;
    padding:0;
}
body{
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #555555;
    margin-top: 5%;
    margin-bottom: 5%;
}

input, button{
  border-radius : 3px;
}

th, td {
    border-bottom: none;
}

#logo{
    font-size: 47px;
}

#button-validate:disabled{
  background-color: #E0E0E0;
  color:#BFBFBF;
}

#button-validate{
    background-color: #EB4A42;
    color: #FFF;
    padding: 0 10px;
}

#input-url{
  background-color: #EAEAEA;
  width: 100%;
  color: #AAAAAA;
}

.omega{
   display: inline-block;
   float: none;
   /*margin-left: 0;*/
   vertical-align: middle;
}

.alpha{
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.url-body{
  font-family: 'Roboto-Regular';
}

.url-table h1{
  font-family: 'Roboto-Regular';
  font-size: 14px;
}

.text-secondary{
  color: #AAAAAA;
}

.text-unimportant{
  color: #CCCCCC;
}

.text-disabled{
  color:#BFBFBF;
}

.text-accent{
  font-family: 'Montserrat-Regular';
  color: #EB4A42;
}

.highlighted {
    border-left: 3px #EB4A42 solid;
}

th{
  text-transform: uppercase;
  font-size: 14px;
  color: #AAA;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.vertical-bottom{
  vertical-align: bottom;
  margin-bottom: 5px;
}

.basic-margin{
  margin-bottom: 40px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    body{
        width: 100%;
        height: 100%;
      }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
    h1.section{
      font-size: 22px;
    }

    body{
        width: 50%;
        height: 75%;
      }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}